// Define variables for your color scheme

// For example:
$red: #AA0000;
$fiusha: #F178B6;
$iris: #5D5FEF;
$purple: #4647a1;
$turquoise: #ABE7FC;
$green: #8ED2BA;
$gray-700: #495057;
$light-blue: #ECF3FF;
$gray: #495057;
