<h1 class="display-4 fw-bold mt-5 text-white">Simply get TOGETHER</h1>
<div class="col-lg-6 mx-auto">
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5 mt-5">
    <%= link_to 'Create event', new_event_path, class: "btn btn-danger btn-lg px-4 me-sm-3"%>
    <%= link_to 'Vote for event', join_path, class: "btn btn-warning btn-lg px-4"%>
  </div>
</div>
<div class="overflow-hidden" style="max-height: 40vh;">
  <div class="container px-5">
    <%= image_tag "calendar.png", class: "img-fluid rounded-3 shadow-lg mb-4 blurr-filter", alt: "calendar", width: "700", height: "500", loading:"lazy" %>
  </div>
</div>
