<h1 class="display-4 fw-bold mt-5 text-info">Simply get TOGETHER</h1>
<div class="col-lg-6 mx-auto">
  <p class="lead my-5">Choosing the date for a special ocassion is now easier with the help of <strong>Akord</strong></p>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Create event</button>
    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Vote for event</button>
  </div>
</div>
<div class="overflow-hidden" style="max-height: 40vh;">
  <div class="container px-5">
    <%= image_tag "calendar.png", class: "img-fluid border rounded-3 shadow-lg mb-4", alt: "calendar", width: "700", height: "500", loading:"lazy" %>
  </div>
</div>
