<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary log-out-button" %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-primary log-out-button" %>
    <% end %>
  </div>
</div>
