<div class="card w-100  mt-2 blurr-filter mb-3">
  <div class="card-body mb-0 text-center">
      <div class="border-radius bg-white d-inline-block p-3 mb-3">
        <%= event_qr_code(@event).svg %>
      </div>
      <div class="d-flex justify-content-center" data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
        <button class="btn btn-secondary rounded" data-action="click->clipboard#copy"><i class="fas fa-link"></i> Copy</button>
        <input class="blurr-filter border-0 rounded " value="<%= short_join_event_url(@event.funid) %>" data-clipboard-target="input" type="text" readonly>
      </div>
      <% if current_user %>
        <%= link_to 'vote', new_event_date_vote_path(@event), class: "text-white" %>
      <% end %>
  </div>
</div>
