<div class="container">
  <br>
  <h1>
    PIN
  </h1>
  <h2>User name</h2>
  <%= simple_form @user do |f| %>
    <%= f.input :username %>
    <%= f.input :password %>
    <%= f.button :submit %>
  <% end %>
</div>
