<div class="container">
  <br>
  <h1>
    PIN
  </h1>
    <%= simple_form_for [@event, @attendee] do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, value:"Join", class:"btn btn-danger" %>
  <% end %>
</div>
