<p class=" mb-1"><strong><%= event.title.capitalize %></strong> will be on:</p>
<div class= "mb-1">
  <div class="d-inline-flex flex-column m-1 rounded overflow-hidden">
    <div class="px-4 py-1 h3  text-info bg-secondary mb-0 "><%= event.chosen_date.month%></div>
    <div class="px-4 py-1 bg-info chosen-day mb-0 fw-bold"><%=event.chosen_date.day%></div>
    <div class=" bg-dark text-info mb-0"><%=event.chosen_date.week_day%></div>
  </div>
</div>
