<div class="wrapper">
  <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class= col-sm-6>
      <%= image_tag "akord.png", height: 200, class: "img-fluid" %>
      <div class="justify-content-center">
        <div class="card form-login blurr-filter m-1 text-center">
          <h3>Congratulations!</h3>
          <div class="container d-flex justify-content-center m-1">
            <%# card %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
