<div class="wrapper position-relative">
  <div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center ">
    <div class="p-3 m-2 h1 position-absolute top-0 start-0">
      <%= link_to event_path(@event) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
    <%= render "modal" %>
  </div>
</div>
