.card {
  border-radius: 7px;
  border: none;
}

.voting-card {
  border-radius: 7px;
  background-color: white;
}

.blurr-filter {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

}

.box-shadow {
  box-shadow: 0 0  100px rgba(209, 219, 231,0.7);
}

.effect-3d {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
