.card {
  border-radius: 7px;
  border: none;
}

.voting-card {
  border-radius: 7px;
  background-color: white;
}

.blurr-filter {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

}

.box-shadow {
  box-shadow: 0 0  100px rgba(209, 219, 231,0.7);
}
