.smooth-transition {
  transition: left 0.25s;
}

.icons.opacify {
  opacity: 7%;
  color: black !important;
  border-color: black !important;
}

.voting-card {
  .icons {
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-right: 2rem;
    border-width: 4px;
    border-style: dashed;
    border-color: rgb(95, 95, 93);
    filter: grayscale(100%)
  }
}

.swipe-yes {
  .icons {
    color: aquamarine;
    border-color: aquamarine;
    filter: none;
  }
}

.swipe-no {
  // border-width: 4px !important;
  // border-color: rgb(255, 127, 127) !important;
  .icons {
    color: rgb(255, 127, 127);
    border-color: rgb(255, 127, 127);
    filter: none;
  }
}

// .swipe-maybe {
//   .icons {
//     font-size: 2rem;
//   }
// }
