.smooth-transition {
  transition: left 0.25s;
}

.swipe-yes {
  background-color: aquamarine;
  box-shadow: 0 0  10px aquamarine;
}

.swipe-no {
  background-color: rgb(255, 127, 127);
  box-shadow: 0 0  10px rgb(255, 127, 127);
}
